_Demigiant.Libraries/_ReSharper*
_Demigiant.Libraries/*/obj
_Demigiant.Libraries/Core/*/obj
*.suo
*.user
*.tmp
*.pdb
*.pdb.meta
*.DotSettings
_Demigiant.Libraries/.gitignore
_Demigiant.Libraries/.git
*.Unity*/_ReSharper*
*.Unity*/Library
*.Unity*/obj
*.Unity*/Temp
*.Unity*/*.csproj
*.Unity*/*.DotSettings
*.Unity*/*.sln
*.Unity*/*.user
*.Unity*/*.suo
*.Unity*/*.userprefs
*HOTools*
*HOUnityEditor*
.vs

*.xar
LocalOnly*